body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background-right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

.background-left {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: aliceblue;
    background-size: cover;
    background-position: 50% 50%;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -3;
}

.left {
    width: 50%;
    height: 100%;
    left: 0;
    position: absolute;
}
 
.right {
    width: 50%;
    height: 100%;
    background: #ffff;
    right: 0;
    position: absolute;
}

.top {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
}
 

#slide {
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
        transition: transform 0.5s ease-in-out;
}
 
.content {
    width: 250px;
    margin: 0 auto;
    top: 30%;
    position: absolute;
    left: 50%;
    margin-left: -125px;
}

.content h2 {
    color: purple;
    font-size: 40px;
}

input[type="text"], [type="password"]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid purple;
}

input:hover {
    color: black;
}

button {
    padding: 12px 20px;
    margin: 8px 0;
    background: purple;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: none;
}

.on-off{
    background: none;
    text-decoration: none;
    box-shadow: none; 
    color: black;
}